/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Mockup
#6817AF;
#200736;
#0B0212;
#38393C;
#DDDDDD;
{}
*/

/*Header*/
h1{
   font-family: 'Montserrat', sans-serif; 
   font-weight: 100; 
   color: #dddddd; 
   text-shadow: 1px 1px 2px #000;
} 

.header{
    background: linear-gradient(to right, #505152 0%, #38393C 40%, #6817AF 100%);
}

.logoText{
    font-family: 'Montserrat', sans-serif; font-weight: 100; color: #dddddd; text-shadow: 1px 1px 2px #000;
}

body{
    background-color: #38393C
}

/*Calendar*/

#calendar{
border-collapse: collapse;
width: 100%;
font-family: 'Montserrat', sans-serif;
}

#calendar th{
background-color: #6817AF;
padding: 10px;
}

#calendar td{
height: 80px;
vertical-align: top; 
text-align: center;
}

.event {
  background-color: #0813FA;
  color: white;
  font-size: 12px;
  margin-top: 4px;
  padding: 2px;
  border-radius: 4px;
}

.loginButton{
    all: unset;
    font-family: 'Montserrat', sans-serif;
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3 ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.loginButton:hover{
    background-color: #6817AF;
}

.monthButton{
    background-color: #dddddd;
}

.monthButton:hover{
    background-color: #6817AF;
}

/*Sheets*/

#sheets th, tr{
    font-family: 'Montserrat', sans-serif;
}