/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Mockup
#6817AF;
#200736;
#0B0212;
#38393C;
#DDDDDD;
#664AB5;
#1F2026;
#EAEAEB;
*/

/*Header*/
h1{
   font-family: 'Montserrat', sans-serif; 
   font-weight: 100; 
   color: #dddddd; 
   text-shadow: 1px 1px 2px #000;"
} 

.header{
    background: linear-gradient(to right, #1F2026 0%, #38393C 40%, #664AB5 100%);
}

.logoText{
    font-family: 'Montserrat', sans-serif; font-weight: 100; color: #dddddd; text-shadow: 1px 1px 2px #000;
}

body{
    background-color: #1F2026
}

/*Calendar*/

#calendar{
border-collapse: separate;
border-spacing: 5px;
border-radius: 10px;
width: 100%;
font-family: 'Montserrat', sans-serif;
padding: 10px;
}

#calendar th{
background-color: #664AB5;
color:#EAEAEB;
font-weight: 600;
}

#calendar td{
height: 80px;
color: #EAEAEB;
text-align: center;
border-radius: 8px; 
border: 1px solid #38393C;
}

.selectedDay{
    background-color: #664AB5;
    border: 2pc solid #EAEAEB;
    color: white;
}

.event {
  background-color: #664AB5;
  color: white;
  font-size: 12px;
  margin-top: 4px;
  padding: 2px;
  border-radius: 4px;
}

.monthButton{
    all: unset;
    background-color: #38393C;
    border-radius: 5px;
    cursor: pointer;
}

.monthButton:hover{
    background-color: #664AB5;
    transform: 0.3s ease;
}

.loginGoogle{
    all: unset;
    font-family: 'Montserrat', sans serif;
    background-color: rgba(102, 74, 181, 1);
    border-radius: 5px;
    cursor: pointer;
}

/*Tasks*/
#tasks {
  margin-top: 20px;
  background-color: #0B0212;
  padding: 15px;
  border-radius: 10px;
  color: #DDDDDD;
  font-family: 'Montserrat', sans-serif;
}

#addTask {
  all: unset;
  background-color: #664AB5;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#addTask:hover {
  background-color: #6817AF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #DDDDDD;
  margin-top: 20px;
}

.slot {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: #38393C;
  border-radius: 8px;
  border: 1px solid #664AB5;
  box-shadow: 0 0 5px #200736;
  cursor: pointer;
}

.slot:hover {
  background-color: #664AB5;
}

.slots{
    dosplay: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#monthYear{
    color: #EAEAEB;
    font-family: 'Montserrat';
    margin: 0 15px;
}
